# Created by .ignore support plugin (hsz.mobi)


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### Mac ###
.DS_Store

### Node.js ###
/node_modules
.vscode